.app{
  background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(26, 26, 26, 0.8)), url(./assets/seminar.jpg) center/cover;
  height: 85vh;
  width: 90vw;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}